aclocal.m4
autom4te.cache/
config.log
config.status
configure
Makefile
Makefile.in
A-readmes/Makefile.in
lib/Makefile.in
lib/Makefile
lib/apex/scores.*
lib/data/*.raw
lib/save/1000.*
lib/apex/Makefile.in
lib/apex/Makefile
lib/bone/Makefile.in
lib/bone/Makefile
lib/data/Makefile.in
lib/data/Makefile
lib/edit/Makefile.in
lib/edit/Makefile
lib/file/Makefile.in
lib/file/Makefile
lib/help/Makefile.in
lib/help/Makefile
lib/info/Makefile.in
lib/info/Makefile
lib/pref/Makefile.in
lib/pref/Makefile
lib/save/Makefile.in
lib/save/Makefile
lib/user/Makefile.in
lib/user/Makefile
lib/xtra/Makefile.in
lib/xtra/Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
